#order-total {
  border-bottom: 2px solid $primary-color;
}

.order-total-item {
  float: right;
}

ol.order > li {
  border-bottom: 1px solid black;
  padding: 1rem 0;
  align-items: center;
  position: relative;
  & button {
    border: 0;
    display: inline;
    line-height: 1;
    padding: 0;
    width: 1.5rem;
    position: absolute;
    top: 3px;
    right: -6px;
    background-color: red;
    color: white;
  }
  @media (min-width: 48em) {
    & button {
      display: none;
    }
  }
  &:hover {
    button {
      display: inline;
    }
  }
  &.total {
    font-weight: 600;
    border-bottom: 3px solid black;
    border-top: 3px double black;
  }
  & .price {
    float: right;
  }
}
